output.icecast PUT method not working

**Describe the bug**
A clear and concise description of what the bug is. Add some script and log extract so we can see what is happening. Don't forget to add some context although not necessarily your whole script..

`SOURCE` method is now deprecated in Icecast, so tried using `PUT` method.
With the same input, `output.icecast` works ok when using `verb="source"` but fails with `verb="put"`.  The log shows:
`2020/01/21 17:56:52 [/test/mount/:2] Connection failed: bad answer`

The icecast server logs show no errors, only the connection being setup correctly and waiting for the stream, but then the client terminates the connection.

Wireshark shows similar pattern:

liquidsoap sends PUT
icecast ACKs
liquidsoap send FIN, ACK indicating it doesn't like the reply.

I've investigated the problem with main Icecast dev https://gitlab.xiph.org/ph3-der-loewe with a live stream against a test server, and it looks like the the PUT implementation in liquidsoap isn't RFC compliant.

Some info which may help:
RFC 7230 and RFC 7231 Section 5.1.1
```
2020-01-21 17:10:30›ph3-der-loewe›  -> if they send PUT without 100-continue they must not wait for any response but start sending data. If they use 100-continue the server *may* inform them about it's wish for them to continue. (detailed description of the protocol in the RFCs)
2020-01-21 17:11:27›ph3-der-loewe›  -> so if they actually want to send the stream, they should just PUT and start sending it and in *parallel* check if the server responded in some way and handle that reponse acording to it's status code. 
```        

**To Reproduce**
A minimal script to reproduce the issue is the most efficient way to have your bug addressed and fixed very quickly!

`output.icecast(%vorbis, protocol="http", host="icecast.local", port=1234, verb="put", chunked=false, mount="/test/mount/", password="hackme", input)`

**Expected behavior**
A clear and concise description of what you expected to happen.

**Version details**
 Ubuntu 18.04.3
 Liquidsoap 1.4.0
cry 0.6.4  
Icecast git master (2.5beta) as of 6ca6283cb4b07a3387e3eba4568706872ea8ac39

**Install method**
Did you install via `opam`? Using your distribution's packages? From source?

Installed via opam

Happy to test any possible fixes.
Thanks!

Using Liquidsoap v1.40 and Icecast v2.4.4 this works for both %vorbis.abr and %fdkaac   I haven't gone into detail as to why or what changes have been made.  But a basic test of changing the verb to PUT in my config.

My personal interaction in the past with the Icecast developers is they are abusive and Icecast is poorly coded, specifically the person you are dealing with.  And this was specifically interaction with the HTTP functions of Icecast and the creation of M3U playlists that wasn't returning proper HTTP 1.1 length of the M3U file, but magically the code for the XPSF playlist returned the proper length.  I was berated and made fun of for pointing this out.

@autonarcosis thanks for testing on 2.4.4, the behaviour change is in the 2.5beta code then.  I've used git bisest to find the commit that changes the behaviour.  Icecast dev confirms the changes in this commit were made to better follow the RFC specs.

Breaking commit:
`dbabf915103ee0f141dbf1956cd7e1ffb2ff1e3d (HEAD, refs/bisect/bad) Fix: Only send 100 on request and 200 only on SOURCE
`

Diff since previous commit:

```
git diff dbabf915103ee0f141dbf1956cd7e1ffb2ff1e3d 0288af5a930a7d076866b0efaed56173cad1c058

diff --git a/src/connection.c b/src/connection.c
index 6cd4aa1..4e9d3d2 100644
--- a/src/connection.c
+++ b/src/connection.c
@@ -836,7 +836,7 @@ static inline void source_startup(client_t *client)
             refbuf_t *ok = refbuf_new(PER_CLIENT_REFBUF_SIZE);
             const char *expectcontinue;
             const char *transfer_encoding;
-            int status_to_send = 0;
+            int status_to_send = 200;
             ssize_t ret;

             transfer_encoding = httpp_getvar(source->parser, "transfer-encoding");
@@ -848,33 +848,25 @@ static inline void source_startup(client_t *client)
                 }
             }

-            if (source->parser && source->parser->req_type == httpp_req_source) {
-                status_to_send = 200;
-            } else {
-                /* For PUT support we check for 100-continue and send back a 100 to stay in spec */
-                expectcontinue = httpp_getvar (source->parser, "expect");
+            /* For PUT support we check for 100-continue and send back a 100 to stay in spec */
+            expectcontinue = httpp_getvar (source->parser, "expect");

-                if (expectcontinue != NULL) {
+            if (expectcontinue != NULL) {
 #ifdef HAVE_STRCASESTR
-                    if (strcasestr (expectcontinue, "100-continue") != NULL)
+                if (strcasestr (expectcontinue, "100-continue") != NULL)
 #else
-                    ICECAST_LOG_WARN("OS doesn't support case insensitive substring checks...");
-                    if (strstr (expectcontinue, "100-continue") != NULL)
+                ICECAST_LOG_WARN("OS doesn't support case insensitive substring checks...");
+                if (strstr (expectcontinue, "100-continue") != NULL)
 #endif
-                    {
-                        status_to_send = 100;
-                    }
+                {
+                    status_to_send = 100;
                 }
             }

             client->respcode = 200;
-            if (status_to_send) {
-                ret = util_http_build_header(ok->data, PER_CLIENT_REFBUF_SIZE, 0, 0, status_to_send, NULL, NULL, NULL, NULL, NULL, client);
-                snprintf(ok->data + ret, PER_CLIENT_REFBUF_SIZE - ret, "Content-Length: 0\r\n\r\n");
-                ok->len = strlen(ok->data);
-            } else {
-                ok->len = 0;
-            }
+            ret = util_http_build_header(ok->data, PER_CLIENT_REFBUF_SIZE, 0, 0, status_to_send, NULL, NULL, NULL, NULL, NULL, client);
+            snprintf(ok->data + ret, PER_CLIENT_REFBUF_SIZE - ret, "Content-Length: 0\r\n\r\n");
+            ok->len = strlen(ok->data);
             refbuf_release(client->refbuf);
             client->refbuf = ok;
             fserve_add_client_callback(client, source_client_callback, source);

```

Checking more on the differences. v2.4 sends an 200 OK response where v2.5 no longer does.  This was changed back in May or so of 2019 to be more compliant of HTTP 1.1.  I was using v2.5 as well and reverted back to v2.4 around this time frame. Probably one of the reasons why I did so.

Look at updating Liquidsoap Icecast functions to HTTP 1.1 compliance and making the PUT method default as the SOURCE method will definitely be going away sooner than later.



Hey guys. thanks for investigating and reporting with so many details! I'm gonna test the issue soon but I have one quick question from looking at the icecast code. It looks to me that the `100` response code is only sent when the client passes a `Expect: 100-continue` header.

Is that correct? I don't think that `ocaml-cry`/`liquidsoap` sends this header, which is why I'm wondering what changed in our case"

@toots ; 
Correct, Liquidsoap does not send the Expect header.  What changed is that v2.4 of Icecast sends a 200 OK and the v2.5 beta code no longer does as per the someone what confusing HTTP 1.1 RFC 7231.  I'm pretty sure that Liquidsoap is failing when not receiving the 200 OK response.  
Furthermore the RFC states that an HTTP 1.0 Expect request must be ignored by the server.  The reasoning is that the 100-Continue isn't passed via proxy, gateways or tunnels.  At least, 6 years ago when the RFC was adopted.
You will also notice that Icecast has a lot of hard coded responses  that are either HTTP 1.0 or HTTP 1.1.  Icecast v2.4.4 seems to be more on the HTTP 1.0 side and version 2.5 seems to be more on the  HTTP 1.1 side.  I suspect this is all from as far back as v1.0 of Icecast, perhaps even Shoutcast when HTTP wasn't meant for continuous streams and the SOURCE method was hacked together.  And now HTTP 1.1 and especially HTTP 2 surpassed those hacks.
I hope I make sense.

Hi @toots, it's the Icecast 2.5 beta code that has changed how it handles PUT to better follow the RFC specs.  Liquidsoap will need changed to reflect this:  

> 2020-01-21 17:10:30›ph3-der-loewe›  -> if they send PUT without 100-continue they must not wait for any response but start sending data. If they use 100-continue the server *may* inform them about it's wish for them to continue. (detailed description of the protocol in the RFCs)

> 2020-01-21 17:11:27›ph3-der-loewe›  -> so if they actually want to send the stream, they should just PUT and start sending it and in *parallel* check if the server responded in some way and handle that reponse acording to it's status code. 

Hi there. I'll have a look at this this coming week.

Should be fixed with the latest `ocaml-cry`!